.home-screen-container {
  background-color: #f9f5f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #ff66a5;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 3.2rem;
  color: #5d63c5;
  margin-bottom: 1rem;
  font-weight: bold; /* In đậm chữ */
}

.highlight {
  color: #ff00ff;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: bold; /* In đậm chữ */
}
/*Làm bài ngay*/
.btn-start {
  background-color: #ff66a5;
  border-color: #ff66a5;
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-size: 1.25rem;
  border-radius: 40px;
  margin-bottom: 2rem;
  font-weight: bold; /* In đậm chữ */
}

.btn-start:hover {
  background-color: #ff3380;
  border-color: #ff3380;
}

.image-col {
  display: flex;
  justify-content: center;
}

.illustration {
  max-width: 95%;
  height: auto;
  border-radius: 10px;
}
