body {
  background-color: #f9f5f7;
<<<<<<< HEAD
  font-family: "Arial", sans-serif;
=======
  font-family: 'Arial', sans-serif;
>>>>>>> 40414784b14e236386caf1f76fe349b24f3125a2
}
/* Set Padding*/
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 9rem;
<<<<<<< HEAD
  margin-top: -100px;
=======
  margin-top: -100px; 
>>>>>>> 40414784b14e236386caf1f76fe349b24f3125a2
}

.login-container {
  flex: 1;
  max-width: 800px;
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 2rem;
}

.logo {
<<<<<<< HEAD
  font-family: "Comic Sans MS", cursive, sans-serif;
=======
  font-family: 'Comic Sans MS', cursive, sans-serif;
>>>>>>> 40414784b14e236386caf1f76fe349b24f3125a2
  color: #ff66a5;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.login-header {
  text-align: left;
  margin-bottom: 2rem;
}
<<<<<<< HEAD
/* "Đăng nhập ngay" */
=======
 /* "Đăng nhập ngay" */
>>>>>>> 40414784b14e236386caf1f76fe349b24f3125a2
.login-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 0.5rem;
}

.login-header p {
  color: #666;
}

.form-label {
  color: #333;
  font-weight: bold; /* In đậm chữ */
}

.form-control {
  border-radius: 5px;
  margin-bottom: 1.5rem;
}
/*Nhap thong tin */
.custom-placeholder::placeholder {
<<<<<<< HEAD
  font-size: 0.9rem;
  color: #6c757d;
=======
  font-size: 0.9rem; 
  color: #6c757d; 
>>>>>>> 40414784b14e236386caf1f76fe349b24f3125a2
}

.btn-login {
  background-color: #ff66a5;
  border-color: #ff66a5;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.15rem;
  font-weight: bold;
  margin-top: 1rem;
}

.btn-login:hover {
  background-color: #ff3380;
  border-color: #ff3380;
}

.register-link {
  display: block;
  text-align: center;
  margin-top: -0.1rem;
}
/* "Đăng ký" */
.register-link a {
<<<<<<< HEAD
  color: #0000ff;
  text-decoration: underline;
=======
  color: #0000FF; 
  text-decoration: underline; 
>>>>>>> 40414784b14e236386caf1f76fe349b24f3125a2
}

.register-link a:hover {
  text-decoration: underline;
}

.remember-me {
  display: flex;
  align-items: center;
}

.remember-me input {
  margin-right: 0.5rem;
}
/*"Quên mật khẩu" */
.forgot-password {
  text-align: right;
<<<<<<< HEAD
  margin-bottom: 1rem;
=======
  margin-bottom: 1rem; 
>>>>>>> 40414784b14e236386caf1f76fe349b24f3125a2
  margin-top: -20px;
}
/*"Quên mật khẩu" */
.forgot-password a {
<<<<<<< HEAD
  color: #0000ff;
=======
  color: #0000FF;
>>>>>>> 40414784b14e236386caf1f76fe349b24f3125a2
  text-decoration: underline;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.image-container {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
