
.container {
    background-color: transparent; /* Color padding */
    width: 100%;
    padding: 0 20px; 
  }

.col{
    float: left;
}
.col-half{
    width: 50%;
    
}
.title-h1 {
  font-size: 34px;
  font-weight: bold;
  padding: 10px 0;
}
.font-bold {
  font-weight: bold;
}
.box {
  background-color: #ffffff;
}
.btn-register {
  background-color: #ff8caa;
  width: 100%;
  margin-top: 10px;
  border: none;
}
.register-img {
  width: 120%;
  padding-left: 50px;
  margin-top: 120px;
}
